<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if @venue %>
        <div class="field">
            <%= f.label :venue %><br>
            <%= autocomplete_field_tag 'venue', '', autocomplete_venue_name_events_path, 'value' => @venue.name %>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :bands %><br>
        <%= autocomplete_field_tag 'bands', '', autocomplete_band_name_events_path, 'data-delimiter' => ', ', :multiple => true %>
    </div>
    <div class="field">
        <%= f.label :start %><br>
        <%= f.datetime_local_field :start %>
    </div>
    <div class="field">
        <%= f.label :poster %>
        <%= f.file_field :poster %>
      </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
