<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if @venue %>
        <div class="field">
            <%= f.label :venue %><br>
            <%= autocomplete_field_tag 'venue', '', autocomplete_venue_name_events_path, 'value' => @venue.name %>
        </div>
    <% elsif @event.venue != nil %>
        <div class="field">
            <%= f.label :venue %><br>
            <%= autocomplete_field_tag 'venue', '', autocomplete_venue_name_events_path, 'value' => @event.venue.name %>
        </div>
    <% else %>
        <div class="field">
            <%= f.label :venue %><br>
            <%= autocomplete_field_tag 'venue', '', autocomplete_venue_name_events_path %>
        </div>
    <% end %>
    <% if @bands %>
        <% band_names = [] %>
        <% @event.bands.each do |band| %>
            <% band_names.push(band.name) %>
        <% end %>
        <div class="field">
            <%= f.label :bands %><br>
            <%= autocomplete_field_tag 'bands', '', autocomplete_band_name_events_path, 'data-delimiter' => ', ', :multiple => true, 'value' => band_names.join(', ')%>
        </div>
    <% elsif @event.bands != nil %>
        <% band_names = [] %>
        <% @event.bands.each do |band| %>
            <% band_names.push(band.name) %>
        <% end %>
        <div class="field">
            <%= f.label :bands %><br>
            <%= autocomplete_field_tag 'bands', '', autocomplete_band_name_events_path, 'data-delimiter' => ', ', :multiple => true, 'value' => band_names.join(', ')%>
        </div>
    <% else %>
        <div class="field">
            <%= f.label :bands %><br>
            <%= autocomplete_field_tag 'bands', '', autocomplete_band_name_events_path, 'data-delimiter' => ', ', :multiple => true %>
        </div>
    <% end %>
    <div class="field">
        <%= f.label 'Event date and time', :class => 'event-date-label' %><br>
        <%= f.text_field :start, id: "datetimepicker12" %>
    </div>
    <script type="text/javascript">
        var nineTonight = new Date("<%= DateTime.now.beginning_of_day + 20.hours %>")
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true,
                defaultDate: nineTonight
            });
        });
    </script>
    <div class="field">
        <%= f.label :poster %>
        <%= f.file_field :poster %>
      </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
