<div class="body--events">
    <%= render "navigation/calendar", 
        :link => '/events/', 
        :show_see_all_events => false, 
        :show_months => true, 
        :show_add_an_event => false 
    %>
    <!-- <div class="events--tags">
        <div class="tags--filter">
            FILTER
        </div>
        <% @tags.each do |tag| %>
            <div class="tags--tag">
                <a href="/tags/<%= tag %>"><%= tag %></a>
            </div>
        <% end %>
    </div> -->
    <section class="events--month">
        <% if @dates.count == 0 %>
            <div class="list--empty">
                <div class="empty--container">
                    <div class="empty--message">
                        <h4>No events are listed in <%= @month.strftime("%B") %>.</h4>
                    </div>
                    <a href="/events/new">
                        <div class="empty--add">
                            Add an event
                        </div>
                    </a>
                </div>
            </div>
        <% end %>
        <% previous_date = false %>
        <% @dates.each_with_index do |date, index| %>
            <%= render "event", :tags => false, :individual => false, :date => date, :event_scope => Event, :index => index, :previous_date => previous_date %>
            <% previous_date = date %>
        <% end %>
    </section>
</div>
