<p id="notice"><%= notice %></p>

<div class="events--list">
    <div class="list--month">
        <h1><%= @month %></h1>
    </div>
    <% @dates.each do |date| %>
        <div class="list--day">
            <div class="day--number">
                <h4><%= date.strftime("%e") %></h4>
                <p><%= date.strftime("%a") %></p>
            </div>
            <div class="day--info">
                <% events = Event.where('start BETWEEN ? AND ?', date, date.end_of_day).order(:start) %>
                <% events.each do |event| %>
                    <div class="info--container">
                        <div class="info--title">
                            <h2>
                                <% if event.bands.count == 1 %>
                                    <%= event.bands.first.name %>
                                <% else %>
                                    <% first_bands = event.bands[0...-1].map { |band| band.name }.join ', ' %>
                                    <% last_band = event.bands[-1].name %>
                                    <%= first_bands + ', and ' + last_band %>
                                <% end %>
                            </h2>
                            <h3>
                                <%= event.venue.name %>
                            </h3>
                        </div>
                        <div class="info--time">
                            <p>
                                <%= event.start.in_time_zone.strftime("%l:%M %P") %>
                            </p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
