<div class="body--events">
    <%= render "navigation/bands" %>
    <div class="events--band-container">
        <div class="events--band">
            <div class="band--name">
                <h2><%= @band.name %></h2>
            </div>
            <div class="band--tags">
                <p>
                    <% @band.tags.each_with_index do |tag, index| %>
                        <% tag_link = "/tags/" + tag %>
                        <% if index != 0 %>
                            | 
                        <% else %>
                            <strong>TAGS:</strong><br>
                        <% end %>
                        <%= link_to tag, tag_link.gsub(' ', '-') %>
                    <% end %>
                </p>
            </div>
            <br>
            <div class="band--similars">
                <p>
                    <% bands_with_shows = 0 %>
                    <% @band.similars.each_with_index do |band, index| %>
                        <% band_record = Band.find_by_songkick_id(band) %>
                        <% shows = band_record.events.where("start >= ?", DateTime.now).order(:start) %>
                        <% same_show = false %>
                        <% if shows.count != 0 %>
                            <% shows[0].bands.each do |band| %>
                                <% if band.id == band_record.id %>
                                    <% same_show = true %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% band_link = '/bands/' + band_record.slug %>
                        <% if shows.count != 0 && same_show == false %>
                            <% if bands_with_shows != 0 %>
                                <br><br>
                            <% else %>
                                <strong>YOU MIGHT ENJOY SEEING:</strong><br>
                            <% end %>
                            <%= link_to band_link + shows[0].start.strftime('%B').downcase + '/' + shows[0].start.strftime('%Y') do %>
                                <%= band_record.name %>, playing <%= shows[0].venue.name %> on <%= shows[0].start.strftime('%B %e') %>
                            <% end %>
                            <% bands_with_shows = bands_with_shows + 1 %>
                        <% end %>
                    <% end %>
                </p>
                <p>
                    <% @band.similars.each_with_index do |band, index| %>
                        <% band_record = Band.find_by_songkick_id(band) %>
                        <% shows = band_record.events.where("start >= ?", DateTime.now).order(:start) %>
                        <% band_link = '/bands/' + band_record.slug %>
                        <% if index != 0 %>
                            | 
                        <% else %>
                            <strong>SIMILAR BANDS:</strong><br>
                        <% end %>
                        <%= link_to band_record.name, band_link %>
                    <% end %>
                </p>
            </div>
            <div class="band--description">
                <p><%= raw @band.description %></p>
            </div>
            <% if @band.youtube_id != "" && @band.youtube_id != nil %>
                <div class="band--video">
                    <p><iframe width="600" height="340" src="https://www.youtube.com/embed/<%= @band.youtube_id %>?rel=0" frameborder="0" allowfullscreen></iframe></p>
                </div>
            <% end %>
            <div class="band--links">
                <% if @band.website %>
                    <a href="<%= @band.website %>">
                        <div class="links--website">
                            <div class="website--icon">
                            
                            </div>
                            <div class="website--text">
                                <% website = @band.website %>
                                <% website.sub!(/https\:\/\/www./, '') if website.include? "https://www." %>
                                <% website.sub!(/http\:\/\/www./, '')  if website.include? "http://www." %>
                                <% website.sub!(/www./, '')            if website.include? "www." %>
                                <p><%= website %></p>
                            </div>
                        </div>
                    </a>
                <% end %>
                <% if @band.twitter %>
                    <a href="<%= @band.twitter.downcase %>">
                        <div class="links--website">
                            <div class="website--icon">
                                <%= image_tag('twitter.png') %>
                            </div>
                            <div class="website--text">
                                <% twitter = @band.twitter %>
                                <% twitter.sub!(/https\:\/\/www./, '') if twitter.include? "https://www." %>
                                <% twitter.sub!(/http\:\/\/www./, '')  if twitter.include? "http://www." %>
                                <% twitter.sub!(/www./, '')            if twitter.include? "www." %>
                                <p>@<%= twitter.downcase %></p>
                            </div>
                        </div>
                    </a>
                <% end %>
            </div>
        </div>
        <section class="events--list">
            <% if @dates.count == 0 %>
                <div class="list--empty">
                    <div class="empty--container">
                        <div class="empty--message">
                            <h4><%= @band.name %> has no events listed in <%= @month.strftime("%B") %>.</h4>
                        </div>
                        <a href="/events/new">
                            <div class="empty--add">
                                Add an event
                            </div>
                        </a>
                    </div>
                </div>
            <% end %>
            <% @dates.each do |date| %>
                <div class="list--day">
                    <div class="day--number">
                        <h3><%= date.strftime("%e") %></h3>
                        <h4><%= date.strftime("%a") %></h4>
                    </div>
                    <div class="day--info">
                        <% events = @band.events.where('start BETWEEN ? AND ?', date, date.end_of_day).order(:start) %>
                        <% events.each do |event| %>
                            <div class="info--container">
                                <div class="info--bands">
                                    <% event.bands.each do |band| %>
                                        <% bands_link = '/bands/' + band.slug + '/' + @month.strftime("%B/%Y").downcase %>
                                        <%= link_to bands_link do %>
                                            <div class="bands--name">
                                                <h2><%= band.name %></h2>
                                            </div>
                                            <div class="bands--arrow">
                                                <%= image_tag('arrow-white.png') %>
                                            </div>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="info--venue">
                                    <% venue_link = '/venues/' + event.venue.slug + '/' + @month.strftime("%B/%Y").downcase %>
                                    <%= link_to venue_link do %>
                                        <div class="venue--title">
                                            <p><%= event.venue.name %></p>
                                        </div>
                                        <div class="venue--arrow">
                                            <%= image_tag('arrow.png') %>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="info--time">
                                    <p class="time--time">
                                        <%= event.start.in_time_zone.strftime("%l:%M %P") %>
                                    </p>
                                    <div class="time--upload">
                                        <%= image_tag('upload-poster.png') %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </section>
    </div>
</div>