<div class="body--events">
    <%= render "navigation/bands" %>
    <div class="events--list">
        <% if @dates.count == 0 %>
            <div class="list--day">
                <div class="day--number">
                </div>
                <div class="day--info">
                    <div class="info--container">
                        <div class="info--title">
                            <h2>No events listed.</h2>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% @dates.each do |date| %>
            <div class="list--day">
                <div class="day--number">
                    <h4><%= date.strftime("%e") %></h4>
                    <p><%= date.strftime("%a") %></p>
                </div>
                <div class="day--info">
                    <% events = @band.events.where('start BETWEEN ? AND ?', date, date.end_of_day).order(:start) %>
                    <% events.each do |event| %>
                        <div class="info--container">
                            <div class="info--title">
                                <h2>
                                    <% event.bands.each do |band| %>
                                        <%= link_to band.name, band_path(band) %><br>
                                    <% end %>
                                </h2>
                                <%= link_to venue_path(event.venue) do %>
                                <h3>
                                    <%= event.venue.name %>
                                    <div class="arrow">
                                        <%= image_tag('arrow.png') %>
                                    </div>
                                </h3>
                                <% end %>
                            </div>
                            <div class="info--time">
                                <p>
                                    <%= event.start.in_time_zone.strftime("%l:%M %P") %>
                                </p>
                                <div class="time--upload">
                                    <%= image_tag('upload-poster.png') %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>