<div class="body--events">
    <%= render "navigation/calendar", 
        :link => '/bands/' + @band.slug + '/', 
        :show_add_an_event => false, 
        :show_months => true, 
        :show_see_all_events => true 
    %>
    <div class="events--band-container">
        <div class="events--band">
            <div class="band--name">
                <h2><%= @band.name %></h2>
            </div>
            <div class="band--tags">
                <p>
                    <% @band.tags.each_with_index do |tag, index| %>
                        <% tag_link = "/tags/" + tag %>
                        <% if index != 0 %>
                            | 
                        <% else %>
                            <strong>TAGS:</strong><br>
                        <% end %>
                        <%= link_to tag, tag_link.gsub(' ', '-') %>
                    <% end %>
                </p>
            </div>
            <br>
            <div class="band--similars">
                <p>
                    <% bands_with_shows = 0 %>
                    <% @band.similars.each_with_index do |band, index| %>
                        <% band_record = Band.find_by_songkick_id(band) %>
                        <% shows = band_record.events.where("start >= ?", DateTime.now).order(:start) %>
                        <% same_show = false %>
                        <% if shows.count != 0 %>
                            <% shows[0].bands.each do |band| %>
                                <% if band.id == band_record.id %>
                                    <% same_show = true %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% band_link = '/bands/' + band_record.slug %>
                        <% if shows.count != 0 && same_show == false %>
                            <% if bands_with_shows != 0 %>
                                <br><br>
                            <% else %>
                                <strong>YOU MIGHT ENJOY SEEING:</strong><br>
                            <% end %>
                            <%= link_to band_link + shows[0].start.strftime('%B').downcase + '/' + shows[0].start.strftime('%Y') do %>
                                <%= band_record.name %>, playing <%= shows[0].venue.name %> on <%= shows[0].start.strftime('%B %e') %>
                            <% end %>
                            <% bands_with_shows = bands_with_shows + 1 %>
                        <% end %>
                    <% end %>
                </p>
                <p>
                    <% @band.similars.each_with_index do |band, index| %>
                        <% band_record = Band.find_by_songkick_id(band) %>
                        <% shows = band_record.events.where("start >= ?", DateTime.now).order(:start) %>
                        <% band_link = '/bands/' + band_record.slug %>
                        <% if index != 0 %>
                            | 
                        <% else %>
                            <strong>SIMILAR BANDS:</strong><br>
                        <% end %>
                        <%= link_to band_record.name, band_link %>
                    <% end %>
                </p>
            </div>
            <div class="band--description">
                <p><%= raw @band.description %></p>
            </div>
            <% if @band.youtube_id != "" && @band.youtube_id != nil %>
                <div class="band--video">
                    <p><iframe width="600" height="340" src="https://www.youtube.com/embed/<%= @band.youtube_id %>?rel=0" frameborder="0" allowfullscreen></iframe></p>
                </div>
            <% end %>
            <div class="band--links">
                <% if @band.website %>
                    <a href="<%= @band.website %>">
                        <div class="links--website">
                            <div class="website--icon">
                                <%= image_tag('sound-icon.png') %>
                            </div>
                            <div class="website--text">
                                <p><%= @band.website.downcase %></p>
                            </div>
                        </div>
                    </a>
                <% end %>
                <% if @band.twitter %>
                    <a href="<%= @band.twitter.downcase %>">
                        <div class="links--website">
                            <div class="website--icon">
                                <%= image_tag('twitter.png') %>
                            </div>
                            <div class="website--text">
                                <p><%= @band.twitter.downcase %></p>
                            </div>
                        </div>
                    </a>
                <% end %>
            </div>
        </div>
        <section class="events--month">
            <% if @dates.count == 0 %>
                <div class="month--empty">
                    <div class="empty--container">
                        <div class="empty--message">
                            <h4><%= @band.name %> has no events listed in <%= @month.strftime("%B") %>.</h4>
                        </div>
                    </div>
                </div>
            <% end %>
            <section class="events--month">
                <% previous_date = false %>
                <% @dates.each_with_index do |date, index| %>
                    <%= render 'events/event', 
                        :individual => false, 
                        :date => date, 
                        :event_scope => @band.events, 
                        :index => index, 
                        :previous_date => previous_date 
                    %>
                    <% previous_date = date %>
                <% end %>
            </section>
        </section>
    </div>
</div>
