<!DOCTYPE html>
<html>
<head>
    <% if controller.action_name == 'index' %>
        <title>The Gigs Up</title>
        <meta property="og:title" content="The Gigs Up"/>
        <meta property="og:url" content="http://www.thegigsup.com"/>
        <meta property="og:image" content="<%= image_url('loading.png') %>"/>
        <meta name="twitter:title" content="The Gigs Up">
        <meta name="twitter:image" content="<%= image_url('loading.png') %>">
    <% elsif @band != nil %>
        <title>The Gigs Up | <%= @band.name %></title>
        <meta property="og:title" content="The Gigs Up | <%= @band.name %>"/>
        <meta property="og:url" content="http://www.thegigsup.com/bands/<%= @band.slug %>"/>
        <meta property="og:image" content="<%= image_url('loading.png') %>"/>
        <meta name="twitter:title" content="The Gigs Up | <%= @band.name %>">
        <meta name="twitter:image" content="<%= image_url('loading.png') %>">
    <% elsif @venue != nil %>
        <title>The Gigs Up | <%= @venue.name %></title>
        <meta property="og:title" content="The Gigs Up | <%= @venue.name %>"/>
        <meta property="og:url" content="http://www.thegigsup.com/venues/<%= @venue.slug %>"/>
        <meta property="og:image" content="<%= image_url('loading.png') %>"/>
        <meta name="twitter:title" content="The Gigs Up | <%= @venue.name %>">
        <meta name="twitter:image" content="<%= image_url('loading.png') %>">
    <% elsif @tag != nil %>
        <title>The Gigs Up | <%= @tag.capitalize %> Concerts</title>
        <meta property="og:title" content="The Gigs Up | <%= @tag.capitalize %> Concerts"/>
        <meta property="og:url" content="http://www.thegigsup.com/tags/<%= @tag %>"/>
        <meta property="og:image" content="<%= image_url('loading.png') %>"/>
        <meta name="twitter:title" content="The Gigs Up | <%= @tag.capitalize %> Concerts">
        <meta name="twitter:image" content="<%= image_url('loading.png') %>">
    <% else %>
        <% bands_string = "" %>
        <% @event.headliners.each_with_index do |band, index| %>
            <% if @event.headliners.length == 1 %>
                <% bands_string = Band.find(band).name %>
            <% else %>
                <% if index != @event.headliners.length - 1 %>
                    <% bands_string = bands_string + ", " + Band.find(band).name %>
                <% else %>
                    <% bands_string = bands_string + " and " + Band.find(band).name %>
                <% end %>
            <% end %>
        <% end %>
        <title>The Gigs Up | <%= bands_string %> at <%= @event.venue.name %></title>
        <meta property="og:title" content="The Gigs Up | <%= bands_string %> at <%= @event.venue.name %>"/>
        <meta property="og:description" content="Concert: <%= @event.start.strftime('%B %-d at%l:%M %P') %>"/>
        <meta property="og:url" content="http://www.thegigsup.com/events/<%= @event.id %>"/>
        <% if @event.poster.url != "/posters/original/missing.png" %>
            <meta property="og:image" content="<%= image_url @event.poster.url(:retina) %>"/>
            <meta name="twitter:image" content="<%= image_url @event.poster.url(:retina) %>">
        <% else %>
            <meta property="og:image" content="<%= image_url('loading.png') %>"/>
            <meta name="twitter:image" content="<%= image_url('loading.png') %>">
        <% end %>
        <meta name="twitter:title" content="The Gigs Up | <%= bands_string %> at <%= @event.venue.name %>">
    <% end %>
    
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Sioux Falls concerts, bold and beautiful." />
    
    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_url('favicons/apple-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_url('favicons/apple-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_url('favicons/apple-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_url('favicons/apple-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_url('favicons/apple-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_url('favicons/apple-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_url('favicons/apple-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_url('favicons/apple-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_url('favicons/apple-icon-180x180.png') %>">
    <link rel="icon" type="image/png" href="<%= image_url('favicons/android-icon-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url('favicons/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_url('favicons/favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_url('favicons/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= image_url('favicons/manifest.json') %>">
    <meta name="msapplication-TileColor" content="#d13029">
    <meta name="msapplication-TileImage" href="<%= image_url('favicons/ms-icon-144x144.png') %>">
    <meta name="theme-color" content="#d13029">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class="<%= action_name %>">
    <header class="body--header">
        <div class="header--container">
            <div class="header--logo">
                <a href="/">
                    <%= image_tag('header-logo_2x.png') %>
                </a>
            </div>
            <div class="header--social">
                <a href="http://twitter.com/thegigsup" target="_blank">
                    <%= image_tag('twitter_2x.png') %>
                </a>
            </div>
        </div>
    </header>
    <%= yield %>
    <footer>
        <div class="footer--love">
            <p>Made with <span class="love--heart"><span class="heart--text">love</span></span> for Sioux Falls</p>
        </div>
    </footer>
</body>
</html>
